$background-Light: #afceff;
$background-Dark:#455b7c;
$theme-font: verdana, sans-serif;
$theme-icons: FontAwesome;
$pannel-background-Light: #ffffff;
$pannel-background-Dark: #010a19;
$element-selected: red;